<mat-form-field class="form">
    <mat-card>
        <mat-card-content>
            <input
            matInput
            type="text"
            class="form-control"
            [(ngModel)]="note.title"
            name="title"
            placeholder="Title">
        </mat-card-content>
        <mat-card-content>
            <textarea
            matInput
            type="text"
            class="form-control"
            [(ngModel)]="note.content"
            name="content"
            placeholder="Your notes goes here."></textarea>
        </mat-card-content>
    </mat-card>
</mat-form-field>